<div class="col-md-3"></div>

<div id="iphone" class="col-md-3">
  
  <!-- All Contacts Header -->
  <div class="row">
  <div class="col-md-9">
    <p id="contact-screen-title" class="right"><strong>All Contacts</strong></p>
    </div>
    <div class="col-md-3">
    <i id="add-contact" class="blue zmdi zmdi-plus zmdi-hc-lg"></i>
    </div>
  </div>
  
  <!-- Search -->
  <div class="form-group">
    <div id="phone-form">
      <form action="/search" id="searchForm" autocomplete="off">
        <input type="text" class="form-control" name="last_name" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome">
      </form>
    </div>
  </div>

  
  
  <!-- Contact List -->
  <div id="contact-results">

    <div id="search-results-area">
      <thead><p class="table-header">Results</p></thead>
    </div>

    <table id="results" class="table table-condensed">
      <div id="search-results">
        <!-- Search results will populate here -->
      </div>
      <thead><p id="all_contacts" class="table-header">Contacts</p></thead>
      <tbody>
          <!-- Contact will populate here -->
      </tbody>
    </table>
  </div>
  
  <!-- View Contact Screen -->
  <div id="screen">
    <div id="contact-screen-top" class="blue">
      <div class="col-md-10">
        <p id="view-all-contacts" class="left"><i class="move-left-10 fa fa-chevron-left"></i> All Contacts</p>
      </div>
      <div class="col-md-2">
        <p>Edit</p>
      </div>
    </div>
    <div id="contact-screen-body">
      <h6><strong id="contact-screen-name"></strong></h6>
      <br><br>
      <div class="row bottom-divider">
        <div class="col-md-8">
          <p id="contact-screen-phone-title">mobile</p>
          <p id="contact-screen-phone"></p>
        </div>
        <div  class="col-md-4" id="contact-icons">
          <span ><i class="fa fa-comment margin-right-15"></i><i class="fa fa-phone"></i></span>
        </div>
      </div>
    </div>
  </div>

  <!-- This is the Home Screen -->
  <div id="home-screen"></div>
  
  <!-- Button -->
  <div id="phone-button"></div>

  <!-- Touch to Unlock -->
  <p id="touch-unlock" class="center glow">tap to unlock</p>

</div>




<div class="col-md-3">
  <div id="main-title">
    <h1>THE<br><span class="yellow-btn-lg">CONTACT</span><br>APP</h1>
  </div>
  <div class="add-contact-form">
    <form action="/new" id="new_contact" autocomplete="off">
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" class="form-control" name="first_name" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Last Name</label>
        <input type="text" class="form-control" name="last_name" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Company</label>
        <input type="text" class="form-control" name="company" placeholder="Company">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Mobile</label>
        <input type="text" class="form-control" name="phone" placeholder="Mobile">
      </div>
      <input type="submit" value="Add Contact" class="yellow-btn">
    </form>
  </div>
</div>




<!-- New Contact willl appear here onces added -->
<div id="contact_saved" class="new-contact-confirm col-md-3"></div>
   

